<html xmlns="http://www.w3.org/1999/xhtml" ng-app="app">
<head>
    <title></title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  
    <script src="~/Scripts/dirPagination.js"></script>
    <script src="~/ClientCode/Module/AppModule.js"></script>

    <script src="~/ClientCode/Controller/ProductController.js"></script>
    <script src="~/ClientCode/Directive/ProductDirective.js"></script>
    <script src="~/ClientCode/Service/ProductService.js"></script>


</head>
<body>
    <product-landing></product-landing>

</body>
</html>